extends layout

block content
  header
    h1 Welcome to #{title}
    p #{numberOfRecords} records retrieved

  main
    section.record.babel
      p
        a(href="#") Lucidity
      pre
        |♬　　　　　　♬
        |━━━━━━━━━━━━━━━━━ ♬
        |━━━━━━━━━━━━━━━━━━━
        |━━━━━━━━━━━━━━━━━ ♬
        |━━━━━━━━━━━━━━━━━━━
        |　　　　　　♬
        |━━━━━━━━━━━━━━

    section.record.paradise
      p
        a(href="#") Paradise
      pre
        |　　　　　◓　◓
        |　
        |　◐　　　　　　　　　◑
        |　　　　　　◓
        |◐　　　◓　　　◓　　　◑

        |◐　　　◒　　　◒　　　◑
        |　　　　　　◒
        |　◐　　　　　　　　　◑
        |　
        |　　　　　◒　◒

    section.record.foodies
      p
        a(href="#") Foodies

  .draggable(draggable=true)
    // img(src="images/eyes.gif" class="eyes")
    img(src="images/cat.svg" class="cat")

  footer
    p #{kaomoji}

  canvas#stars
  script(src="/scripts/index.js")


// https://twitter.com/crashtxt/status/649608227215265792
// https://twitter.com/crashtxt/status/646025003943751680
