extends layout

block content
  p Welcome to #{title}
  p #{numberOfRecords} records retrieved

  section.post.foodies
    p
      a(href="#") Foodies

  section.post.paradise
    p
      a(href="#") Paradise

  section.post.babel
    p
      a(href="#") Lucidity

  footer
    p #{kaomoji}
