extends layout

block content
  header
    h1 #{title}

  main
    p What'd you want to be when you grew up?
    p Honestly, a musician
    p What?
    p I know man crazy right
    p Nah, what's crazy is original music hasn't been created since Earth
    p I know man. Lucidity
    p What?
    p Back then people had dreams and achieved them in a state of total consciousness. Shit we took for granted was obvious: water, food supply. It's insane to think everyday life for everyone in Babel is the quest for Paradise. I guess that's what I'm looking for
    p What, being able to make music?
    p Not just that. If the laws are abolished following the migration - we're free dude
    p We're not slaves Thomas
    p We aren't? You can't do anything outside the cause, not really. That's why we watch the same movies and listen to the same music. I mean don't get me wrong the catalogue is incredible, but we need... I don't know
    p Something more?
    p Yeah, somethin' more

    // attribution

  footer
    p
      a.button(href="#") ↓