extends layout

block content
  header
    h1 #{title}

  main
    p.kai What'd you want to be when you grew up?
    p.thomas Honestly, a musician
    p.kai What?
    p.thomas I know man crazy right
    p.kai Nah, what's crazy is original music hasn't been created since Earth
    p.thomas I know man. Lucidity
    p.kai What?
    p.thomas Back then people had dreams and achieved them in a state of total consciousness. Shit we took for granted was obvious: water, food supply. It's insane to think everyday life for everyone in Babel is the quest for Paradise. I guess that's what I'm looking for
    p.kai What, being able to make music?
    p.thomas Not just that. If the laws are abolished following the migration - we're free dude
    p.kai We're not slaves Thomas
    p.thomas We aren't? You can't do anything outside the cause, not really. That's why we watch the same movies and listen to the same music. I mean don't get me wrong the catalogue is incredible, but we need... I don't know
    p.thalia Something more?
    p.thomas Yeah, somethin' more

    div
      p.attribution words,
        a(href="http://mindoflogic.com") Logic

  footer
    p
      a.next-record(href="#") ↓
