link = pink

// html,
// body
//   width: 100%
//   height: 100%
//   margin: 0

body
  padding: 20px
  font: 14px courier, sans-serif
  text-align: center
  background-color: black
  color: white

h1
  font-size: 14px
  font-weight: normal

header
  margin-bottom: 2em

a
  color: link

section
  margin-top: 1em
  margin-bottom: 1em

.record
  a
    &:hover
      text-decoration: none
  img
    max-width: 400px
    border-radius: 3px

pre
  text-align: left
  display: table
  margin-left: auto
  margin-right: auto
  color: cyan // to yellow-cyan
//
// section
//   &:last-child
//     pre
//       color: cyan

// convert this to :child styles later

// .foodies
//   pre
//     color: violet

// .paradise
//   pre
//     color: cyan
//
// pre
//   color: yellow

#stars
  position: absolute
  top: 0
  left: 0
  z-index: -1
