link = pink

body
  padding: 20px
  font: 14px courier, sans-serif
  text-align: center
  background-color: black
  color: white

// h1
//   font-size: 14px
//   font-weight: normal

a
  color: link

section
  margin-top: 1em
  margin-bottom: 1em

img
  max-width: 100%

.post
  a
    display: block
