link = pink

body
  padding: 20px
  font: 14px courier, sans-serif
  text-align: center
  background-color: black
  color: white
  -webkit-font-smoothing: subpixel-antialiased


h1
  font-size: 14px
  font-weight: normal

header
  margin-bottom: 2em

a
  color: link
  position: relative
  &:hover
    text-decoration: none
    background-color: link
    color: black
// img
//   max-width: 400px
//   border-radius: 3px

section
  margin-top: 1em
  margin-bottom: 1em

pre
  text-align: left
  display: table
  margin-left: auto
  margin-right: auto
  color: cyan

.attribution
  background-color: white
  color: black

.draggable
  cursor: grab
  .cat
    position: absolute
    width: 86px

.draggable.is-dragging
  cursor: grabbing

canvas#stars
  position: absolute
  top: 0
  left: 0
  z-index: -1
