kai = #fbaf5c
thomas = #9ee1fb

h1
  text-transform: uppercase

p
  max-width: 400px
  margin-left: auto
  margin-right: auto
  display: inline-block
  color: black
  vertical-align: top

.kai
  background-color: kai

.thomas
  background-color: thomas

.thalia
  background-color: transparent
  color: white
  margin-left: 5px
  margin-right: 5px

.attribution
  background-color: white
  a
    color: black
    position: initial
    display: inline-block
    margin-left: 5px
    text-decoration: none
    &:hover
      color: black

.next-record
  font-size: 20px
  padding: 5px 10px

// border: 1px solid white
// padding: 0px 4px
// border-radius: 2px
