kai = violet
thomas = lightseagreen

main
  overflow: hidden

h1
  display: inline-block
  text-transform: uppercase
  background-color: black
  a
    color: white
    text-decoration: none

p
  max-width: 400px
  margin-left: auto
  margin-right: auto
  display: inline-block
  color: black
  vertical-align: top

.kai
  background-color: kai

.thomas
  background-color: thomas

.thalia
  background-color: black
  color: white
  padding-left: 5px
  padding-right: 5px

.show
  border: 1px solid white
  cursor: pointer
  &:hover
    background-color: white
    color: black

.reveal
  display: none


.attribution
  background-color: white
  a
    color: black
    position: initial
    display: inline-block
    margin-left: 5px
    text-decoration: none
    &:hover
      color: black

footer
  a
    font-size: 20px
    padding: 5px 10px

ring-left = -75%

canvas
  user-select: none

canvas#outer-ring
  position: absolute
  z-index: -2
  left: ring-left
  top: -51%
  animation: rotation 30s linear infinite

canvas#middle-ring
  position: absolute
  z-index: -2
  left: ring-left
  top: -51%
  animation: rotation 25s linear infinite

canvas#inner-ring
  position: absolute
  z-index: -2
  left: ring-left
  top: -51%
  animation: rotation 20s linear infinite

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
