kai = violet
thomas = lightseagreen

main
  overflow: hidden

h1
  text-transform: uppercase
  a
    color: white
    text-decoration: none

p
  max-width: 400px
  margin-left: auto
  margin-right: auto
  display: inline-block
  color: black
  vertical-align: top

.kai
  background-color: kai

.thomas
  background-color: thomas

.thalia
  background-color: black
  color: white
  margin-left: 5px
  margin-right: 5px

.attribution
  background-color: white
  a
    color: black
    position: initial
    display: inline-block
    margin-left: 5px
    text-decoration: none
    &:hover
      color: black

footer
  a
    font-size: 20px
    padding: 5px 10px

ring-left = -80%

canvas#outer-ring
  position: absolute
  z-index: -1
  left: ring-left
  top: -51%
  animation: rotation 30s linear infinite

canvas#inner-ring
  position: absolute
  z-index: -1
  left: ring-left
  top: -51%
  animation: rotation 25s linear infinite

canvas#center
  position: absolute
  z-index: -1
  left: ring-left
  top: -51%
  animation: rotation 20s linear infinite

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
